# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
*.egg-info/

# macOS
.DS_Store
._.DS_Store

# VSCode settings
.vscode/

# Generated experiment files
#reproduce_paper/*/Experiment*.py
#reproduce_paper/*/*/Experiment*.py

#input and output data
MaxEnt2025_paper/Experiment*/input_data/
MaxEnt2025_paper/Experiment*/output_data/
MaxEnt2025_paper/graphs_presentation


# Files under development
development/

# debugging tests 
Tests/

#just for presentation
MaxEnt2025_paper/graphs_for_presentation.ipynb
Tutorials/Tutorial_video
